# Ignore files
*.s3db
*.res
*.layout
*.o
*.rar
*.win
.vs/
*.suo
*.user
*.aps
*.pdb
*.idb
*.pch
*.obj
*.log
*.tlog
*.ipch
*.manifest
*.exp
*.exe
*.dll
*.lib
*.ilk
*.ncb
*.sdf
*.opensdf
*.sln.docstates
*.sln.ide
*.sln.layout
