/*
Skin by Holloweye
*/

body {
	background-color: #555555;
	background-image: url(/*$skindir*/candle.jpg);
	background-repeat: repeat-y;
	color: white;
	font-family: Verdana, Tahoma;
	font-size: 90%;
}
pre {
	font-family: monospace;
	font-size: 10pt;
}
img {
	border: 0;
}
a {
	color: black;
}
h2 {
	background-repeat: no-repeat;
	font: normal normal 1.5em "Georgia",serif;
	text-decoration: none;
	height: 40px;
	padding-left: 25px;
}
legend {
	color: black;
}
form,input {
	margin: 0; 
	padding: 0; 
	display: inline;
}
fieldset{
	padding: 5px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a:hover{
	font-weight: normal;
	color: white;
}
.color0 {
	background-color: #bc916f;
}
.top {
	color: black;
}
.online {
	color: #51850d;
	font-weight: bold;
}
.offline {
	font-weight: bold;
}
.rowselect {
	cursor: pointer;
}
.rowselect:hover {
	background-color: #fcecbf;
}
.textfield {
	background-color: #fffdfa;
}
.task-menu{
	cursor: pointer;
}
.task-menu li{
	height: 16px;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 5px;
}
.task-menu li:hover {
	font-weight: bold;
	color: white;
}
#container {
	width: 750px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color: white;
}
#header {	
	background-image: url(/*$skindir*/header.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 750px;
	height: 250px;
}
#server_name{
	font-family: 'Bitstream Vera Sans', Tahoma;
	font-weight: bolder;
	font-size: 30pt;
	color: #6b5445; 
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 100px;
}
#panel {
	position: absolute;
	margin-top: 250px;
	color: black;
}	
#panel a{
	text-decoration: none;
	font-variant: small-caps;
	font-weight: bold;
}
#panel a:hover {
	text-decoration: underline;
	color: black;
}
#panel li {
	background-image: url(/*$skindir*/list-item.gif);
	background-repeat: no-repeat;
	padding-left: 40px;
	list-style-type: none;
	height: 23px;
}
#panel .top {
	background-image: url(/*$skindir*/top.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	width: 176px;
	height: 35px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	font-weight: bold;
	color: white;
}
#panel .mid {
	background-image: url(/*$skindir*/mid.gif);
	background-repeat: repeat-y;
	text-align: center;
	padding: 10px;
	width: 156px;
}
#panel .bot {
	background-image: url(/*$skindir*/bot.gif);
	background-repeat: no-repeat;
	padding: 0;
	margin-bottom: 10px;
	width: 176px;
	height: 23px;
}
#panel ul {
	width: 176px;
	padding: 0;
	margin: 0;
}
#content {
	position: absolute;
	margin-left: 195px;
	margin-top: 250px;
	color: black;
}
#content .top {
	background-image: url(/*$skindir*/big-top.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	width: 555px;
	height: 35px;
	text-align: center;
	font-weight: bold;
	color: white;
}
#content .mid {
	background-image: url(/*$skindir*/big-mid.gif);
	background-repeat: repeat-y;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 475px;
	min-height: 200px;
}
#content .bot {
	background-image: url(/*$skindir*/big-bot.gif);
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	width: 555px;
	height: 19px;
}
#error {
	background-image: url(/*$skindir*/error.png);
	background-repeat: no-repeat;
	position: fixed;
	/*Fuck IE :)*/
	/*IE position: absolute; */
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	width: 130px;
	height: 70px;
	padding-left: 20px;
	padding-right: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 240px;
	margin-top: 200px;
	cursor: pointer;
	color: black;
}
#captcha-image {
	margin-top: 5px;
}
#choose-skill {
	float: left;
	margin-right: 20px;
}
#iobox {
	z-index: 10;
	position: fixed;
	/*IE position: absolute;*/
	background-color: #e2e2e2;
	background-image: url(/*$skindir*/big-mid.jpg);
	background-position: -20px;
	border: 1px solid #000;
	color: black;
	cursor: move;
}
#iobox fieldset {
	cursor: default;
}
#server_name {
	display: none;
}