/*Skin by Nicaw*/

body {
	background-color: black;
	background-image: url(otserv/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}
img {
	border: 0;
}
a {
	color: white;
}
h2 {
	background-repeat: no-repeat;
	font: normal normal 1.5em "Georgia",serif;
    text-decoration: none;
	height: 40px;
	padding-left: 25px;
}
a:hover{
	font-weight: normal;
	color: gray;
}
.top {
	color: white;
}
.online {
	font-weight: bold;
}
.offline {
	font-weight: bold;
}
.rowselect {
	cursor: pointer;
}
.rowselect:hover {
	background-color: #fcecbf;
}
.task-menu{
	cursor: pointer;
}
.task-menu li{
	list-style-type: none;
	height: 16px;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 5px;
}
.task-menu li:hover {
	background-color: #e2e2e2;
}
.clearer {
	clear: both; 
}

#container {
	width: 750px;
	height: 700px;
	margin-left: 10%;
	margin-right: auto;
	position: relative;
}
#panel {
	position: absolute;
	margin-top: 50px;
}	
#panel li {
	background: url(otserv/list-item.png);
	/*IE background: url(otserv/list-item.gif);*/
	background-repeat: no-repeat;
	padding-left: 50px;
	padding-top: 5px;
	list-style-type: none;
	height: 25px;
}
#panel li a{
	color: #55ff55;
}
#panel #navigation .top{
	background: url(otserv/navigation.gif);
}
#panel #status .top{
	background: url(otserv/status.gif);
}
#panel #friends .top{
	background: url(otserv/friends.gif);
}
#panel .top {
	width: 100px;
	height: 0px;
	padding-left: 114px;
	padding-top: 34px;
	text-align: center;
	font-weight: bold;
	font-size: 0;
	color: black;
	overflow: hidden;
}
#panel .mid {
	background: url(otserv/mid.png);
	/*IE background: url(otserv/mid.gif);*/
	background-repeat: repeat-y;
	text-align: center;
	padding: 10px;
	width: 194px;
}
#panel #status .bot {
	background: url(otserv/bot.png);
	/*IE background: url(otserv/bot.gif);*/
	width: 214px;
	height: 6px;
	background-repeat: no-repeat;
}
#panel #friends .bot {
	background: url(otserv/bot.png);
	/*IE background: url(otserv/bot.gif);*/
	width: 214px;
	height: 6px;
	background-repeat: no-repeat;
}
#panel ul {
	width: 214px;
	padding: 0;
	margin: 0;
}
#panel a {
	text-decoration: none;
	color: white;
}
#panel a:hover {
	font-weight: bold;
}
#content {
	position: absolute;
	margin-left: 214px;
	margin-top: 50px;
}
#content .top {
	background: url(otserv/big-top.png);
	/*IE background: url(otserv/big-top.gif);*/
	width: 786px;
	height: 0px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 6px;
	font-size: 0;
	color: black;
	overflow: hidden;
}
#content .mid {
	background: url(otserv/big-mid.png);
	/*IE background: url(otserv/big-mid.gif);*/
	background-repeat: repeat-y;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 746px;
	min-height: 250px;
}
#content .bot {
	background: url(otserv/big-bot.png);
	/*IE background: url(otserv/big-bot.gif);*/
	width: 786px;
	height: 0px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 6px;
	font-size: 0;
	color: black;
	overflow: hidden;
}
#error {
	background-image: url(otserv/error.png);
	background-repeat: no-repeat;
	position: fixed;
	/*IE position: absolute;*/
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	width: 210px;
	height: 80px;
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-left: 400px;
	margin-top: 200px;
	cursor: pointer;
}
#captcha-image {
	margin-top: 5px;
}
#choose-skill {
	float: left;
	margin-right: 20px;
}
input, textarea, .textfield {
	border: solid #aa0000 2px;
	background-color: black;
	color: #55ff55;
}
#server_name{
	display:none;
}
pre {
	font-size: 10pt;
}
#iobox {
	position: fixed;
	/*IE position: absolute;*/
	top: 200px;
	left: 200px;
	/*IE width: 300px;*/
	background-color: #303322;
	border: 1px solid #000;
	padding-top: 30px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	z-index: 10;
}