/*Skin by zoooro
Graphics from Tibianordic.com*/

body {
	background-color: white;
	background-image: url('tn/background.gif');
	background-repeat: repeat-50
}
img {
	border: 0px none;
}
a {
	color: # 008aff;
}
h2 {
	background-repeat: no-repeat;
	font: normal normal 1.5em "Georgia",serif;
    text-decoration: none;
	height: 40px;
	padding-left: 25px;
}
a:hover{
	font-weight: normal;
	color: #00c0ff;
}
.top {
	color: # 008aff;
}
.online {
	color: #00f6ff;
	font-weight: bold;
}
.offline {
	font-weight: bold;
}
.rowselect {
	cursor: pointer;
}
.rowselect:hover {
	background-color: #fcecbf;
}
#container {
	width: 800px;
	position: relative;
}
#header {	
	background-image: url('tn/header.gif');
	background-repeat: no-repeat;
	position: absolute;
	width: 900px;
	height: 150px
}
#panel {
	position: absolute;
	margin-top: 150px;
}	
#panel a:hover {
	font-weight: bold;
	color: #008aff;
}
#panel li {
	background-image: url('tn/list-item.gif');
	background-repeat: no-repeat;
	padding-left: 30px;
	list-style-type: green;
	height: 23px
}
#panel .top {
	background-image: url('tn/top.gif');
	width: 174px;
	height: 25px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5px;
	text-align: center;
	font-weight: bold
}
#panel .mid {
	background-image: url('tn/mid.gif');
	background-repeat: repeat-y;
	text-align: center;
	padding: 10px;
	width: 154px
}
#panel .bot {
	background-image: url('tn/bot.gif');
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	width: 174px;
	height: 13px
}
#panel ul {
	width: 174px;
	padding: 0;
	margin: 0;
}
#panel a {
	text-decoration: none;
	color: black;
}
#panel a:hover {
	font-weight: bold;
}
#content {
	position: absolute;
	margin-left: 174px;
	margin-top: 150px;
}
#content .top {
	background-image: url('tn/big-top.gif');
	width: 626px;
	height: 25px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5px;
	text-align: center;
	font-weight: bold
}
#content .mid {
	background-image: url('tn/big-mid.gif');
	background-repeat: repeat-y;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 586px;
	min-height: 200px
}
#content .bot {
	background-image: url('tn/big-bot.gif');
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	width: 626px;
	height: 30px
}
#error {
	background-image: url('tn/error.png');
	background-repeat: no-repeat;
	position: absolute;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	width: 180px;
	height: 70px;
	padding-left: 60px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 240px;
	margin-top: 100px;
	cursor: pointer
}
#captcha-image {
	margin-top: 5px;
}
#choose-skill {
	float: left;
	margin-right: 20px;
}
#server_name {
	display: none;
}