/*This sheet gets included before skin styles*/

#footer span{
	display: none;
}
.percent_bar{
	background-color: black;
	height: 26px;
	color: white;
	font-weight: bold;
	text-align: center;
}
.vote_cell{
	width: 20px;
	height: 20px;
}
.vote_cell img:hover{
	border: 2px solid yellow;
}
.exception{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: white;
	color: black;
	border: 3px solid red;
}
#form #iobox{
	z-index: 1;
}